.form-top {}

.form-top__content {
    margin: 0 auto;
    width: 40%;
    padding-bottom: 200px;
    padding-top: 50px;
    text-align: center;

}

.form-top__content__input {
    margin: 15px;
    min-width: 80%;
}

.form-top__content__button {
    margin: 10px;
}
